.page-header {
  text-align: left;
  line-height: 4em;
}

.main-content {
  padding: 2rem 0rem;
}

/* Theorem Environments */

.theorem {
display: block;
font-style: italic;
}
.theorem:before {
content: "Theorem. ";
font-weight: bold;
font-style: normal;
}
.theorem[text]:before {
content: "Theorem (" attr(text) ") ";
}

.proposition {
display: block;
font-style: italic;
}
.proposition:before {
content: "Proposition. ";
font-weight: bold;
font-style: normal;
}

.definition {
display: block;
font-style: italic;
}
.definition:before {
content: "Definition. ";
font-weight: bold;
font-style: normal;
}
